<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.blogss.core">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <!--service-->
        <service android:name="cn.blogss.core.service.MyService" />

        <!--activity-->
        <activity
            android:name=".service.ServiceActivity"
            android:launchMode="singleTask"/>
    </application>
</manifest>
