<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.blogss.network">

    <application>
        <service
            android:name=".socket.TcpServerService"
            android:exported="true"
            android:process=":TcpServerService"/>
    </application>
</manifest>